@{
    ViewData["Title"] = "Home Page";
}
<head>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/player/subTitle.js"></script>
    <script type="text/javascript" src="~/js/player/timecode.js"></script>
    <script type="text/javascript" src="~/js/player/mediaelement.js"></script>
    <script type="text/javascript" src="~/js/player/audioVisualizer.js"></script>
    <script type="text/javascript" src="~/js/player/mediaelement-and-player.js"></script>

    <link rel="stylesheet" href="~/css/player/subtitle.css">
    <link rel="stylesheet" href="/css/player/player.css">
    <link rel="stylesheet" href="/css/player/mediaelementplayer.css">
    <link rel="stylesheet" href="/css/player/audioVisualizer.css">
</head>

<div class="container-vertical-flex" style="height:100%">
    <div class="flex flex-3" style="background-color:aqua">
        <div class="container-flex">
            <div class="flex flex-1">
                <div class="fields ui-corner-bottom" style="background-color:#1a1c22;">
                    <div class="media-infor-content" style="width: 100%;">

                    </div>
                    <div id="player0" class="mejs-container mejs-video" style="height:300px; margin: auto;text-align:center;">

                    </div>
                    <script>
                        var width = window.innerWidth;
                        var height = window.innerHeight;
                        if (height > 900) {

                            $("#player0").height(450);
                        }
                    </script>                    
                    <br />

                    <form id="subTitleFormx">
                        <div class="row" style="width:100%; text-align:center">
                            <div id="timeTrim" style="height:40px;">
                                <div id="status" style="height:14px;"></div>
                                <div class="subTitleTime hidden">Sub in</div>
                                <div id="startTimeSubCur" class="subTitleTime hidden" style="width: 65px; margin-left: 5px" converter="timeConverter"></div>
                                <div class="subTitleTime  hidden">--></div>
                                <div id="endTimeSubCur" class="subTitleTime hidden" style="width: 65px; margin-left: 5px" converter="timeConverter"></div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <select type="text" class="navbar-form-control" id="videoSpeedSelect">
                                            <option value="1"> X1 </option>
                                            <option value="4">X4</option>
                                            <option value="8"> X8 </option>
                                            <option value="16">X16</option>
                                        </select>
                                    </div>                                    
                                    <div class="col-md-5">
                                        <div class="hidden">
                                            <input id="enabledSpectrum" checked="checked" type="checkbox" style="width: 17px">
                                            <label onclick="changeEnabledSpectrum()" style="font-size: 11px">Spectrum</label>
                                        </div>
                                        <div id="timeCodeInput">
                                            <input id="startTimeTrim" disabled="disabled" value="00:00:00:00" converter="timeConverter" style="border-radius: 3px;  border: 1.4px solid;" size="8" />
                                            <span> : </span>
                                            <input id="endTimeTrim" disabled="disabled" value="00:00:00:00" converter="timeConverter" style="border-radius: 3px;  border: 1.4px solid;" size="8" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="controls" style="width:100%; text-align:center">
                                <button type="button" title="play" class="btn btn-default-outline" id="ppBtn">
                                    <span class="icon">
                                        <i class="icon icon-play "></i>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-default-outline" title="play as MarkIn, MarkOut" id="playBackBtn" style="margin-right: 25px">
                                    <span class="icon">
                                        <i class="icon icon-eye"></i>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-default-outline" title="to start" id="firstBtn">
                                    <span class="icon">
                                        <i class="icon icon-to-start "></i>
                                    </span>
                                </button>

                                <button type="button" class="btn btn-default-outline" title="fast backward" id="ffbwBtn">
                                    <span class="icon icon-stack">
                                        <i class="icon-fast-backward icon-stack-1x" style="left: -0.125em"></i>
                                        <i class="icon-fast-backward icon-stack-1x" style="left: 0.3em"></i>
                                    </span>

                                </button>

                                <button type="button" class="btn btn-default-outline" title="backward" id="prevBtn">
                                    <span class="icon">
                                        <i class="icon icon-fast-backward "></i>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-default-outline" title="forward" id="fwdBtn">
                                    <span class="icon">
                                        <i class="icon icon-fast-forward "></i>
                                    </span>
                                </button>

                                <button type="button" class="btn btn-default-outline" title="fast forward" id="fffwBtn">
                                    <span class="icon icon-stack">
                                        <i class="icon-fast-forward icon-stack-1x" style="left: -0.125em"></i>
                                        <i class="icon-fast-forward icon-stack-1x" style="left: 0.3em"></i>
                                    </span>
                                </button>                               

                                <button type="button" class="btn btn-default-outline" title="mark in" id="markInBtn">
                                    <span class="icon">
                                        <i class="icon icon-left-open"></i>
                                    </span>
                                </button>

                                <button type="button" class="btn btn-default-outline" title="mark out" id="markOutBtn">
                                    <span class="icon">
                                        <i class="icon icon-right-open"></i>
                                    </span>
                                </button>                               
                                <button type="button" class="btn btn-default-outline" title="save cut" id="btnSaveCut">
                                    <span class="icon">
                                        <i class="icon icon-floppy"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
            </div>
            <div class="flex flex-1"></div>
        </div>
    </div>
    <div class="flex flex-1" style="background-color: aquamarine">

    </div>
</div>
